[Unit]
Description=Executa teste-timer.sh
Wants=teste-timer.timer

[Service]
Type=oneshot
ExecStart=/etc/systemd/system/teste-timer.sh

[Install]
WantedBy=multi-user.target
